<mat-dialog-content style="width: 400px;height: 800px;" class="mat-typography">
    <form>
        <p style="font-size: medium; font-weight: 500; font-style: italic; margin-top: 15px;">Select User</p>
        <mat-form-field style="width: 400px;">
            <mat-label>User ID</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="user">
                <mat-option *ngFor="let user of allUsers" [value]="user.user_id">
                    {{user.user_id}} <span style="margin-left: 5px; font-weight: 400;">[ {{user.first_name}}
                        {{user.last_name}} ]</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p style="font-size: medium; font-weight: 500; font-style: italic; margin-top: 15px;">Select File/Folder</p>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="Entity"
            [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="example-radio-button" *ngFor="let option of Options" [value]="option">
                {{option}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field style="margin-top: 5px;width: 250px;" appearance="outline">
            <mat-label>File or Folder Name</mat-label>
            <input matInput #name placeholder="Placeholder">
            <mat-icon matSuffix>create</mat-icon>
        </mat-form-field>
        <p style="font-size: medium; font-weight: 500; font-style: italic; margin-top: 15px;">Select Permission Type</p>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="permission" [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="example-radio-button" *ngFor="let permission of permissions" [value]="permission">
                {{permission == 1 ? "Read Permission" : "Read/Write Permission"}}
            </mat-radio-button>
        </mat-radio-group>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary"
    [disabled]="selectedValue == undefined || Entity ==undefined || name.value.length==0 || permission ==undefined" 
    (click)="createEntity(selectedValue,Entity,name.value,permission)">Create</button>
</mat-dialog-actions>